.content{
    letter-spacing: 1px;
    background-color: var(--light-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px 0px 0px;
    width: 100%;
    min-height: calc(100vh - 78px - 50px);
    
    transition: filter 0.2s;

    footer{
        color: var(--dark-grey-2);
        width: 100%;
        text-align: center;
        margin-top: 30px;
        padding: 10px;
        background-color: var(--pure-white);
        box-shadow: 0px 2px 40px -18px;
        
    }

    @media (max-width: 1000px ), (orientation: portrait){
        padding-top: 0px;
    }

    @media (max-width: 1010px){
        min-height: calc(100vh - 78px);
    }
}

