.reservations{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--pure-white);
    // border-radius: 10px;
    box-shadow: 2px 0 40px -25px;
    width: 90%;
    margin: 30px auto 0 auto;
    padding-bottom: 40px;
     hr{
        width: 100%;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--light-grey-1), rgba(0, 0, 0, 0));
     }

    .header{
        width: 100%;
        color: var(--light-grey-2);
        font-weight: 500;

        .label{
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 1px;
            padding: 40px 0 40px 0;
            text-align: center;
        }
        .table-header{
            display: grid;
            width: 100%;
            grid-template-columns: 0.5fr 0.8fr 0.8fr 0.8fr 1fr;
            padding: 10px;
        }

    }
    .table-row{
        display: grid;
        width: 100%;
        grid-template-columns: 0.5fr 0.8fr 0.8fr 0.8fr 1fr;
        padding: 10px;
        color: var(--dark-grey-2);
        align-items: center;
        .short{
            letter-spacing: 0;
        }
    }

    .user{
        font-size: 25px;
        color: var(--light-grey-2);
    }


    .name{
        font-weight: 700;
    }

    .center{
        text-align: center;
    }

    .editRoomBtn{
        background: none;
        outline: none;
        border: none;
        font-size: 16px;
        color: var(--dark-caramel);
        cursor: pointer;

        &:hover{
            opacity: 0.8;
        }
    }

    .addRoomBtn{
        background: none;
        outline: none;
        border: none;
        font-size: 20px;
        color: var(--dark-caramel);
        cursor: pointer;

        &:hover{
            opacity: 0.8;
        }
    }



    @media (max-width: 900px){
        .header{
            .table-header{
                display: none;
            }
        }
        .table-row{
            grid-template-columns: 1fr;
            text-align: center;
            line-height: 1.4;
        }
    }

}