.sidebar{
    letter-spacing: 1px;
    padding:40px 0 10px 0;
    background-color: var(--pure-white);
    width: 230px;
    min-height: calc(100vh - 78px - 50px);
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 40px -25px;
    position: sticky;
    z-index: 800;
    top: 0;
    transition: transform 0.2s;

    &.shown{
        position: fixed;
        transform: translate(0, 0);
        width: 230px;

        a{
            width: 100%;
        }
    }
    img{
        width: 50%;
        filter: invert(0.3);
        clip-path: circle(49%);
    }
    
    &__admin{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__admin__details{
        text-align: center;
        padding: 25px 0 25px 0;
        line-height: 1.6;
        #nume-admin{
            color: var(--dark-grey-1);
            font-weight: 500;
        }
        #functie-admin{
            color: var(--light-grey-2);
            font-size: 14px;
        }
    }
    
    &__options{
        height: 100%;
        padding-top: 10px;
        font-size: 20px;

        .selector{
            width: 10px;
            height: inherit;
            background-color: var(--pure-white);
        }

        i{
            padding: 0 15px 0 20px;
        }

        li{
            display: flex;

            a{
                font-weight: 300;
                height: 50px;
                display: flex;
                align-items: center;
                padding: 15px 0 15px 0;
                width: 250px;
                color: var(--dark-grey-2);

                .fa-calendar-alt{
                    font-size: 25px;
                }
            }
            
            :hover{
                background-color: var(--light-white);

                .selector{
                    background-color: var(--light-white);
                }
            }

            &.actual{
                background-color: var(--light-white);
                a{
                    color: var(--dark-caramel);
                }
                .selector{
                    background-color: var(--dark-caramel);
                }
            }
        }
    
    }

    @media (max-width: 600px){
        margin-top: 78px;
        min-height: calc(100vh - 78px);
        position: fixed;
        transform: translate(-220px, 0);
    }

    @media (max-width: 1000px){
        width: 190px;

        &__options{
            font-size: 18px;
        }
    }
}
