.user-services{
    font-family: 'Tinos', serif;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    width: 100vw;
    height: 50px;
    z-index: 900;
    padding: 0 calc((5/100) * ( 100vw - 230px)) 0 45px;
    letter-spacing: 1px;

    .options{

        a{
            color: var(--light-grey-2);
            font-weight: 400;
            font-size: 18px;
            margin-right: 20px;
        }
    }

    .client_area{
        display: flex;
        align-items: center;
        font-size: 18px;

        .bookings, .add-review{
            margin-right: 20px;
            color: var(--light-grey-2);
            font-weight: 400;
            font-size: 18px;
            margin-left: 3px;
        }

        .review{
            color: var(--light-grey-2);
            font-size: 15px;
        }

        .auth_button{
            display: flex;
            align-items: center;
            background-color: var(--dark-caramel);
            padding: 0 10px;
            height: 50px;
            color: var(--pure-white);
            font-weight: 500;

            a{
                color: var(--pure-white);
                padding: 5px;
                &:hover{
                    text-decoration: underline;
                }
            }
            
            .user-icon{
                font-size: 30px;
                &:hover{
                    text-decoration: none;
                }
                color: var(--dark-grey-2);
            }
        }
    }

    @media (max-width: 1060px){
        display: none;
    }
}