:root {
    --dark-caramel: #c19b71;
    --pure-black: #000;
    --light-white: #3c3c3c;
    --pure-white: #1c1c1d;
    --light-grey-1: #9c9c9c;
    --light-grey-2: #7c7c7c;
    --dark-grey-1: #7c7c7c;
    --dark-grey-2: #bcbcbc;
}